
  <p id="text">
        Explore Our Countries
    </p>

<% country = Country.read %>

<ul class="list-unstyled">
<% country.each do |run| %>


 <h2><%= link_to run["Name"], "/country/#{run["id"]}", "class" => 'btn btn-lg btn-primary btn-block' %> </h2>
 <%=link_to image_tag(run["Picture_url"], "class" => "img_banner"), "/country/#{run["id"]}" %>

<hr>
<% end %>
</ul>



