<p id="text">
        Pick Your Next Trip
</p>

<% country_id = params["id"] %>
<% countries = Country.read(country_id) %>
<% trips = Trip.read("Country_id" => countries["id"]) %>


<ul>

  <% trips.each do |run| %>

    <li>
      <%= link_to run["Name"], "/trip/#{run["id"]}" %>
      <%=link_to image_tag(run["Picture_url"]), "/trip/#{run["id"]}" %>
    </li>
  <% end %>
</ul>

