<p id="text">
        Pick Your Next Trip
</p>

<% country_id = params["id"] %>
<% countries = Country.read(country_id) %>
<% trips = Trip.read("Country_id" => countries["id"]) %>


<ul>
  <% trips = Trip.read %>
  <% trips.each do |run| %>

    <li>
      <%= link_to run["Name"], "/trip/#{run["id"]}" %>
      <%=link_to image_tag(run["Picture_url"]), "/trip/#{run["id"]}" %>
    </li>
  <% end %>
</ul>

why doesn't this work?????? If i take out

trips = Trip.read

and try to let it do the params run to only show the trips within a particular country the page is blank.  I don't get an error, it just doesnt work?  If i leave as is it dumbly runs all of the trips regardless of country in the Trip model.
