<% region_id = params["id"] %>
<% regions = Region.read(region_id) %>
<% countries = Country.read("Region_id" => regions["id"]) %>

<p id="text">
        Explore Trips By Region
    </p>

<ul class="list-unstyled">
<% countries.each do |run| %>
    <%= link_to run["Name"], "/country/#{run["id"]}", "class" => 'btn btn-lg btn-primary btn-block' %>
      <%=link_to image_tag(run["Picture_url"]), "/country/#{run["id"]}" %>

<hr>
<% end %>
</ul>






