<% region_id = params["id"] %>
<% regions = Region.read(region_id) %>
<% countries = Country.read("Region_id" => regions["id"]) %>

<p id="text">
        Explore Trips By Region
    </p>

<ul>
<% countries.each do |run| %>
<div class="row">
<li><%= link_to run["Name"], "/country/#{run["id"]}" %>  <%=link_to image_tag(run["Picture_url"]), "/country/#{run["id"]}" %>  </li>
</div>
<hr>
<% end %>
</ul>






