  <p id="text">
        Pick Your Next Trip
    </p>

<% trip = Trip.read %>

<ul>
<% trip.each do |run| %>
<div class="row">
 <%= link_to run["Name"], "/trip/#{run["id"]}" %>  <%=link_to image_tag(run["Picture_url"]), "/trip/#{run["id"]}" %> </div>
</div>
<hr>
<% end %>
</ul>

