  <p id="text">
        Pick Your Next Trip
    </p>

<% trip = Trip.read %>

<ul class="list-unstyled">
<% trip.each do |run| %>


<h2> <%= link_to run["Name"], "/trip/#{run["id"]}", "class" => 'btn btn-lg btn-primary btn-block' %> </h2>
<%=link_to image_tag(run["Picture_url"], "class" => "img_banner"), "/trip/#{run["id"]}" %>

<hr>
<% end %>
</ul>

