#container
{
    position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 250px;

}

#image
{
    position:absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 250px;
                text-align: center;
                border-bottom:thick solid black;
                z-index: -1;
}
#text
{
    z-index:0;
    position:absolute;
    color:black;
    font-size:48px;
    font-weight:bold;
    left:450px;
    top:100px;
}


#images { width: 400px; height: 350px; margin: 20px; box-shadow: 10px 10px 10px gray; }

#page_start { padding-top: 290px;}


#banner {
    z-index:0;
    position:absolute;
    color:black;
    text-align: center;
    font-size:36px;
    font-weight:bold;
    padding-top: 250px; }






/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



